.pokemon-stats {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #f0f0f5;
    border-top-left-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 5px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px #00000066;
}

.stats-id,
.stats-name {
    text-align: center;
    width: 50%;
    margin-left: auto;
}

.stats-id {
    font-weight: bold;
    padding-top: 5px;
}

.stats-name {
    font-size: 1.4rem;
}

.stats-pic{
    display: flex;
    justify-content: right;
}

.stats-pic img
{
    width: 220px;
    height: auto;
}
