.pokemon-stats {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border-top-left-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 0 10px #00000066;
}

.stats-close {
    /* color: rgb(255, 0, 0); */
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
    left: 95%;
    font-family: 'Courier New', Courier, monospace;
}

.stats-id,
.stats-name {
    text-align: center;
    width: 50%;
    margin-left: auto;
}

.stats-id {
    font-weight: bold;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.stats-name {
    font-size: 1.4rem;
}

.stats-pic{
    display: flex;
    justify-content: right;
    margin-right: 5px;
    filter: drop-shadow(4px 2px 4px #00000077);
}

.stats-pic img
{
    width: 200px;
    height: auto;
}

.stats-block
{
    position: relative;
    top: -30%;
    left: 15%;
}
