img {
    width: 100px;
    height: auto;
}

.images {
    display: flex;
    flex-direction: row;
}

.buttonActive {
    background-color: green;
}

.poke-card
{
    min-width: 125px;
    border-radius: 3px;
    margin: 5px;
    padding: 5px 0;
    box-shadow: 0 0 10px #00000033;
}

.id {
    font-weight: bold;
    text-align: center;
}

.name{
    text-align: center;
}

.pic
{
    display: flex;
    align-content: center;
    justify-content: center;
    filter: drop-shadow(10px 5px 4px #00000044);
}
