img {
    width: 100px;
    height: auto;
}

.images {
    display: flex;
    flex-direction: row;
}

.buttonActive {
    background-color: green;
}

.id-name
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.id {
    width: 2rem;
    text-align:center;
}