/* Source for pokeball styles on .forms-container: https://codepen.io/raubaca/pen/obaZmG */

.forms-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 10px solid #000;
    box-shadow: inset -10px 10px 0 10px #ccc;
    z-index: -11;
}

.forms-container::before,
.forms-container::after {
    content: "";
    position: absolute;
}

.forms-container::before {
    background: red;
    width: 100%;
    height: 50%;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    z-index: -10;
}

.forms-container::after {
    top: calc(50% - 15px);
    width: 100%;
    height: 30px;
    background: #000;
    z-index: -9;
}

.centerpiece {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    z-index: -8;
}

.create-account-form,
.login-form {
    display: flex;
    flex-direction: column;
}

.create-account-form>button,
.login-form>button {
    width: 50%;
    margin: auto;
}

.show-register-form-button {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .show-register-form-button>button {
    margin: auto;
} */