.pagination
{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.pagination>button
{
    border: none;
    margin: auto 10px;
    transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.pagination>button:hover
{
    background-color: rgb(104, 213, 104);
    cursor: pointer;
}

.pagination>button:not(.cap-button){
    font-size: 1rem;
    height: 1.85rem;
    width: 1.85rem;
    border-radius: 1.85rem;
}

.pagination>.cap-button
{
    font-size: 0.85rem;
    height: 1.5rem;
    width: 3.5rem;
    border-radius: 5px;
}

.buttonActive {
    background-color: rgb(2, 168, 2);
    font-size: 1.1rem !important;
    height: 1.95rem  !important;
    width: 1.95rem  !important;
    border-radius: 1.95rem  !important;
}