.report>table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.report>table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.report>table th,
.report>table td {
    padding: 12px 15px;
}

.report>table tbody tr {
    border-bottom: 3px solid #a1a1f1;
    background-color: #dddddd;
}

.report>table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.report>table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
